<?xml version="1.0" encoding="UTF-8"?>
<resources>
	<string name="select_canteen">Selecionar cantina</string>
	<string name="NSCameraUsageDescription">Podemos usar sua câmera para que você possa tirar fotos?</string>
	<string name="NSPhotoLibraryUsageDescription">Podemos usar seu rolo de fotos para que você possa selecionar imagens?</string>
	<string name="NSAppleMusicUsageDescription">Podemos usar seu rolo de música para que você possa selecionar música?</string>
	<string name="NSLocationWhenInUseUsageDescription">Podemos usar sua localização neste mapa para mostrar a distância até a sua cantina?</string>
</resources>
