<?xml version="1.0" encoding="UTF-8"?>
<resources>
	<string name="select_canteen">Seleccione cantina</string>
	<string name="NSCameraUsageDescription">¿Podemos usar su cámara para que pueda tomar fotos?</string>
	<string name="NSPhotoLibraryUsageDescription">¿Podemos usar su carrete de fotos para que pueda seleccionar imágenes?</string>
	<string name="NSLocationWhenInUseUsageDescription">¿Nos permite usar su posición en el mapa para mostrar la distancia a su cantina?</string>
</resources>
