<?xml version="1.0" encoding="UTF-8"?>
<resources>
	<string name="select_canteen">Mensa auswählen</string>
	<string name="NSCameraUsageDescription">Dürfen wir auf deine Kamera zugreifen, damit du Fotos aufnehmen kannst?</string>
	<string name="NSLocationWhenInUseUsageDescription">Dürfen wir deinen Standort auf dieser Karte nutzen, um dir die Entfernung zur deiner Mensa zu zeigen?</string>
</resources>
